src/main/mule/createAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6e48add4-deab-4236-9fae-794f61cf679c" >
		<db:my-sql-connection host="localhost" port="3306" user="ram" password="Rmsi@252012345" database="integration" />
	</db:config>
	<flow name="createAccountFlow" doc:id="7c1d1c22-4559-4f18-a5be-4788865ebf24" >
		<logger level="INFO" doc:name="Logger" doc:id="5d4155d6-8afd-4aec-b12d-fa05a051d208" message="recieved the request."/>
		<db:insert doc:name="Insert" doc:id="5315c216-f424-4503-a78e-39a9565163f9" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Account(name,gender,phone,email,dateOfBirth)
values(:name,:gender,:sex,:emailId,:dob);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:payload.name,
	gender:payload.gender,
	sex:payload.phone,
	emailId:payload.email,
	dob:payload.dateOfBirth
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="aedaa6b4-7b24-43e7-ab08-cd2233006f2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode:201,
	message:" account Created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a0fee5a4-d427-4b2a-b740-511ac039a0a3" message="final response from database..#[payload]"/>
	</flow>
</mule>
